html 		{	margin: 0;
			padding: 0;
			background-color: #EEE
		}

body 	{	width: 1000px;
			margin: 20px auto;
			overflow-y: scroll;
			padding: 10px;
			font:12pt/2.0em Helvetica, Arial, sans-serief;
			text-align: center;
			background-color:#77b
		}

#container
		{	width: 900px;
			margin: 0 auto;
			padding: 50px;
			
			border-style: solid;
			border-width: 2px;
			border-color: #006;
			
			background: #fb9
			text-align: left;
		}




#leftnav 	{	float: left;
			}
#rightnav	{	float: right;
			}
/*
#body		{	float: center;
			}
*/
#footer		{	float: bottom;
				background-color: 9999FF;
			}


			
/* Navigation
 * Attributes assigned "none" originally had a value but were later changed */
nav 		{
		background-color: none;
		padding: none;
		}

.nav_ul 	{
		background-color: none;
		padding: none;
		text-align: center;
		position: relative;
		/* border-style: dashed; */
		}

.nav_li 	{
		background-color: #000;
		color: white;
		margin: 10px;
		padding: 10px;
		list-style-type: none;
		display: inline-block;
		border: ridge;
		border-color: none;
		}

a 		{
		color: white;
		background-color: none;
		text-decoration: none;
		}
		
		
/*		
.nav_ul_li: hover {
	background-color: #333;
	}

.nav_ul_li a, visited {
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
	}

.nav ul li a: hover{
	}
*/



